In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')
#its a nominal value so values should be expanded
dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.astype(int) # expanded columns are boolean so converted into int
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [43]:
#split input and output
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)
X_test.shape#to check number of rows and columns

(446, 5)

In [5]:
'''from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)
X_train''''

array([[-1.53963418,  0.13333747, -0.90788827, -0.98885138, -0.49929923],
       [ 0.74809711,  0.29449875, -0.0755796 ,  1.01127431,  2.00280702],
       [ 0.4621307 ,  2.06727281,  1.58903774,  1.01127431, -0.49929923],
       ...,
       [ 0.03318108, -0.8336302 , -0.90788827,  1.01127431, -0.49929923],
       [-1.46814257,  0.77798258, -0.90788827,  1.01127431, -0.49929923],
       [-0.46726014, -1.96175915, -0.0755796 , -0.98885138, -0.49929923]])

In [49]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()
regressor=regressor.fit(X_train,y_train)

In [51]:
y_pred=regressor.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.7152039645121815

In [ ]:
regressor.feature_importances_

In [ ]:
regressor.max_features_

In [ ]:
regressor.tree_

In [ ]:
from sklearn import tree
tree.plot_tree(regressor)
plt.show()